@using OrganizingApp;
@using Task = OrganizingApp.Models.Task;

@model Task

<h2>Create a new Task</h2>
@using (Html.BeginForm("InsertTaskToDatabase", "Task", "Post"))
{
    <input asp-for="TaskId" type="hidden" value="" />
    <label asp-for="TaskDesc" class="control-label">TaskDesc</label>
    <input type="text" name="TaskDesc" class="form-control" value="" />
    <label asp-for="Notes" class="control-label">Notes</label>
    <input type="text" name="Notes" class="form-control" />
    <div class="form-group">
        <label for="">Select a Location</label>
        <select class="form-control" name="LocationId" value="">
            @foreach (var loc in Model.Locations)
            {
                <option value="@loc.LocationId"> @loc.Name</option>
            }
        </select>
    </div>
    <input type="submit" value="Create Task" class="btn btn-primary" />
}