@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br> 
    <h1 class="display-4"; style="color: teal; box-sizing: content-box; box-shadow: 0 0 6px pink;">Welcome, organizer!</h1>

    <br><br>

    <h3 style ="color: teal;">Whether you're a seasoned organizer or just getting started, you can use this site to create a list of organizing tasks and view your progress.</h3>

    <br><br>

    <h4 style="color: teal">Go to the <a href="/Task/Index">Tasks page</a> to get started.</h4>

    <br><br>

    <h4 style="text-align: center; display: inline-block; color: teal;">Take one step at a time. See your living space gradually transform into a place of organization and calm.</h4>

    <br><br>

</div>
    
<br>
<br>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

